<!DOCTYPE html>
<html>
  <head>
    <title>LightHouse</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LightHouse</h1>
    <p>Welcome to LightHouse, <%= title %></p>
    <div>
        <p></p>
        <button type="button" class="btn btn-primary btn-sm" value="Friends"/>Friends</button>
    </div>
    <div>
        <p></p>
        <button type="button" class="btn btn-primary btn-sm" value="What's New!"/>What's New!</button>
    </div>
    <div>
        <p></p>
        <button type="button" class="btn btn-primary btn-sm" value="Requests"/>Request</button>
        <p></p>
    </div>
  </body>
</html>
