<html>
<head>
    <title>What's up</title>
    <style>
        body {
      
        background: url("https://zellox.com/wp-content/uploads/2016/05/website-backgrounds-%E2%80%AB1%E2%80%AC-%E2%80%AB%E2%80%AC.jpg") no-repeat center center fixed; 
        background-size: cover;
        }
        header {
            width:100%;
            position:relative;
            text-align:center;
            bottom:-70px;
        }

        header a, header a:visited {
            font-size:18px;
            color:#dedede;
            text-decoration:none;
        }

        header a:hover {
            text-decoration:underline;
        }
        .title {
            font-size: 4em;
            text-align: center;
            border: 3px solid red;
        }

        .photo {
            text-align: center;
        }
    
        .phtot img{
            display: inline-block;
        }

        .tb2 {
            position: relative;
            top: 60px;
            margin-left: auto; 
            margin-right: auto; 
            width: 300px;
        }
        .cc-selector input{
            margin:0;padding:0;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        pic_url='';
        url = "https://api.flickr.com/services/rest/?method=flickr.interestingness.getList&api_key=*&format=json&nojsoncallback=1";
        var pc = '';
        var data;
        var ind=0;
        function getImageUrl (photo, format) {
               return "https://farm" + photo.farm + ".static.flickr.com/" + photo.server + "/" + photo.id + "_" + photo.secret + format + ".jpg";
        }

// handy function to retrieve the original photo if available
        function getOriginalImageUrl (photo) {
               return "https://farm" + photo.farm + ".static.flickr.com/" + photo.server + "/" + photo.id + "_" + photo.originalsecret + "_" + "o."+photo.originalformat;
        }

// get the image url according to its best size
// If one of the side is greater than 1280 then a large (_b) version is created
        function getBestImageUrl(photo) {
            if(photo.o_width)
            {
                if (photo.o_width > 1280 || photo.o_height > 1280)
                       return getImageUrl(photo, '_b');
                return getOriginalImageUrl(photo);
            }
            return getImageUrl(photo, '');
        }
        //initially get a list of pictures
        $.getJSON(url, function(json){
            console.log(json.photos.photo[0]);
            data=json.photos.photo;
            display(0)
                });
        //display the image in the list of the specified index
        function display(index){
            var proto = data[index];
            if (proto==undefined){
                $("#results").empty();
                var str='<p><a href='+"./rec"+'>no more img, go to reccomendation</a></p>'
                $("#results").append(str);
            }
            else{
            var ustring = getBestImageUrl(proto);//"https://farm" + farm + ".staticflickr.com/" + server +"/" + id+"_"+secret+".jpg";
            //https://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg
            var pic = ustring;
            pic_url = ustring;
            var pc = "";
            pc = '<img src='+pic+'>';
            console.log(pc);
            $("#results").empty();
            $("#results").append(pc);
            }
        }
        //when user clicks, pass feedback using router /feedback
        function feedback(){
            var f=$('input[name=img]:checked').val();
            console.log(f);
            $.getJSON('/feedback',{'f':f,'pic_url':pic_url},function(data){
                console.log(data);
            });
            ind=ind+1;
            console.log(ind);
            display(ind);
        }
        

    </script>
</head>
    <body>
        <h1 class="title">WHAT'S UP?</h1>

        <div id="results" class="photo"></div>
        <div class = "tb2">
            <table align="center">
                <form>
                    <tr>
                        <td>
                            <label for="like" class="cc-selector">
                                <input type="radio" id="like" name="img" value="1" onclick="feedback();"/>
                                <img src="https://cdn.worldvectorlogo.com/logos/facebook-haha.svg" height="42" width="42">
                            </label>
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <label for="dislike" class="cc-selector">
                                <input type="radio" id="dislike" name="img" value="-1" onclick="feedback();"/ >
                                <img src="https://cdn.worldvectorlogo.com/logos/facebook-angry.svg" height="42" width="42">
                            </label>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        
        <header>
        <a href="../lighthouse">Back to the LightHouse
            <i class="fa fa-fw fa-external-link"></i>
        </a>
        </header>
</body>
</html>
