<!DOCTYPE html>
<html>
  <head>
    <title>Sign in for LightHouse!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to LightHouse</h1>
    <p><%= title %></p>
    <div class="uinput">
        <form id="signinForm" name="signinForm" method="post" action="">
            

                <label>Username:</label>
                <br />
                <input type="text" class="binput" name="username" placeholder="Username"/ style="width: 350px;">
            <br />
            

                <label>Password:</label>
                <br />
                <input type="password" class="binput" name="password" placeholder="********"/ style="width: 350px;">
            <br />
            
            <div class="signup">
                <input type="submit" class="btn btn-primary btn-sm" value="Sign in"/>
                <input type="Reset" class="btn btn-primary btn-sm" value="Reset"/>
            </div>

            
        </form>

        <div class="b1">
            <p><font size="4">New to LightHouse? Sign up <a href="./signup">here</a>!</font></p>
        </div>
    </div>
  </body>
</html>
