<!DOCTYPE html>
<html>
  <head>
    <title>Sign up for LightHouse!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to LightHouse!</h1>
    <p><%= title %></p>
    <div>
        <form id="signupForm" name="signupForm" method="post" action="" encType="multipart/form-data">
            <div>
                <p></p>
                <label>New Username:</label>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <p></p>
                <label>New Password:</label>
                <input type="password" name="password" placeholder="********"/>
            </div>
            <div>
                <p></p>
                <label>Email Address:</label>
                <input type="email" name="email" placeholder="Email Address"/>
            </div>
            <div>
                <p></p>
                <label>Phone Number:</label>
                <input type="number" name="number" placeholder="Phone Number"/>
            </div>
            <div>
                <p></p>
                <label>Upload Profile Photo:</label>
                <input type="file" name="sampleFile"/>
            </div>
            <div>
                <p></p>
                <input type="submit" class="btn btn-primary btn-sm" value="Sign me up!"/>
                <input type="Reset" class="btn btn-primary btn-sm" value="Reset"/>
            </div>
        </form>
    </div>
    <div>
    </div>
  </body>
</html>
