<!DOCTYPE html>
<html>
  <head>
    <title>Sign in for LightHouse!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to LightHouse</h1>
    <p><%= title %></p>
    <div>
        <form id="signinForm" name="signinForm" method="post" action="">
            <div>
                <p></p>
                <label>Username:</label>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <p></p>
                <label>Password:</label>
                <input type="password" name="password" placeholder="********"/>
            </div>
            <div>
                <p></p>
                <input type="submit" class="btn btn-primary btn-sm" value="Sign in"/>
                <input type="Reset" class="btn btn-primary btn-sm" value="Reset"/>
            </div>
        </form>
    </div>
  </body>
</html>