<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to LightHouse!</p>
    <div>
        <form id="signupForm" name="signupForm" method="post" action="">
            <input type="username" id="username" placeholder="Username"><br>
            <input type="email" id="email" placeholder="Email"><br>
            <input type="password" id="password" placeholder="Password"><br>
            <input type="number" id="number" placeholder="Phone Number"><br>
            <button type="submit" id="reg-form-btn" >Sign up!</button>
        </form>
    </div>
  </body>
</html>
